

/* Start:/local/templates/alar/template_styles.css?1480932337106*/
section.contact {
	height: auto;
	margin-bottom: -14px;
	padding-bottom: 5px;
	background-size: contain;
}
/* End */
/* /local/templates/alar/template_styles.css?1480932337106 */
